#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}
nav h4{
  color: aliceblue;
}

.card {
  padding: 2em;
}

.banner{
  background-image: url('src/assets/banner.jpeg');
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}